<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layton.py - Webhook</title> 
        <link rel="shortcut icon" type="x-icon" href="https://i.ibb.co/9tmdQHq/loupe-1.png">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <img class="logo" src="https://i.im.ge/2022/09/24/19Q2U6.loupe-3.png" alt="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="https://github.com/zaqoQLF?tab=repositories">Usage</a></li>
                    <li><a href="https://github.com/zaqoQLF?tab=repositories">Github</a></li>
                </ul>
            </nav>
            <a class="cta" href="/dashboard/lookup"><button>Lookup</button></a>
        </header>
        <img class="ImgHunt" src="https://i.ibb.co/NWH7syS/19-Q2-U6-loupe-3-1.png">

        <h1 class="sent">SENDING WEBHOOK...</h1>
        <p class="para-sent">WEBHOOK SHOULD BE SENT, CHECK YOU DISCORD</p>
        <p class="para-sent2">Don't forget to setup your webhook URL</p>

    </body>
</html>
